---
import BlogPosts from "../components/BlogPosts.astro";
import FeaturedCard from "../components/FeaturedCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div>
    <FeaturedCard />
    <BlogPosts />
  </div>
</Layout>
