---
import BlogPosts from "../components/BlogPosts.astro";
import CategoriesTab from "../components/CategoriesTab.astro";
import FeaturedPosts from "../components/FeaturedPosts.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div>
    <FeaturedPosts />
    <CategoriesTab />
    <BlogPosts />
  </div>
</Layout>
