---
import Card from "./Card.astro";
---

<div class="flex flex-col items-center justify-center">
  <div class="grid items-center grid-cols-2 p-3">
    <Card />
    <Card />
    <Card />
    <Card />
    <Card />
    <Card />
  </div>
  <button class="px-3 py-2 my-3 font-bold text-white bg-purple-900">More</button
  >
</div>
