<div class="p-3 m-3 shadow-lg bg-slate-200">
  <div class="flex flex-col py-2 space-y-2">
    <h3 class="font-sans text-xl font-bold text-slate-900">This is a Title</h3>
    <p class="font-sans text-xs font-bold text-slate-500">
      Written by <strong>author</strong> on {new Date().toLocaleDateString()}
    </p>
    <p class="font-sans font-bold text-md text-slate-700">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur
      magni impedit voluptas at, numquam voluptatibus magnam ducimus earum iure
      reprehenderit reiciendis dolorum ratione laborum minima. Repudiandae
      aperiam maxime provident nihil?
    </p>
  </div>
  <a
    class="px-3 py-2 font-sans text-xs text-white bg-purple-900 rounded-full"
    href="">Read More</a
  >
</div>
