<a
  href="/"
  class="flex justify-around space-x-5 p-5 m-3 shadow-lg bg-[#FFFDFA] rounded-md"
>
  <div class="flex flex-col py-2 space-y-2">
    <h3 class="font-sans text-xl font-bold text-[#0B0334] hover:underline">
      ChatGPT Is Having a Thomas Edison Moment
    </h3>
    <p class="font-sans text-sm font-bold text-slate-600">
      Written by <strong>James Cameroon</strong> on {
        new Date().toLocaleDateString()
      }
    </p>
    <p
      class="max-w-sm max-h-12 font-sans text-sm font-bold text-[#0B0334] truncate"
    >
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur
      magni impedit voluptas at, numquam voluptatibus magnam ducimus earum iure
      reprehenderit reiciendis dolorum ratione laborum minima. Repudiandae
      aperiam maxime provident nihil?
    </p>
  </div>
  <div>
    <img
      src="https://miro.medium.com/fit/c/300/201/1*AnED9a20JLfwcDQ3Tn4oLQ.jpeg"
      alt=""
      class="min-h-full overflow-hidden"
    />
  </div>
</a>
