<div
  class="flex items-center justify-center h-14 my-1 space-x-10 text-[#FFFDFA] bg-[#0B0334]"
>
  <div class="px-3 py-1 bg-[#FFFDFA] text-[#0B0334] rounded-full font-bold">
    <a href="">Web Development</a>
  </div>
  <div class="px-3 py-1 bg-[#FFFDFA] text-[#0B0334] rounded-full font-bold">
    <a href="">Android Development</a>
  </div>
  <div class="px-3 py-1 bg-[#FFFDFA] text-[#0B0334] rounded-full font-bold">
    <a href="">Windows Desktop Development</a>
  </div>
  <div class="px-3 py-1 bg-[#FFFDFA] text-[#0B0334] rounded-full font-bold">
    <a href="">AI/ML</a>
  </div>
  <div class="px-3 py-1 bg-[#FFFDFA] text-[#0B0334] rounded-full font-bold">
    <a href="">Blockchain</a>
  </div>
  <div class="px-3 py-1 bg-[#FFFDFA] text-[#0B0334] rounded-full font-bold">
    <a href="">Cyber Security</a>
  </div>
</div>
