<div
  class="bg-background h-56 md:h-80 text-[#F5F4EB] flex flex-col justify-center items-center space-y-8"
>
  <h1 class="text-3xl font-bold md:text-6xl">Stay Updated</h1>
  <p class="hidden font-bold md:block text-md md:text-2xl">
    Discover quality articles about latest trends in technology industry
  </p>
  <p class="block font-bold md:hidden text-md md:text-2xl">
    Discover latest trends in technology industry
  </p>
</div>
