<footer>
  <div
    class="flex justify-around items-center p-5 bg-purple-900 text-slate-100"
  >
    <div>
      <h3 class="text-xl font-bold text-slate-200">Drops Blog</h3>
      <p>
        <span class="hidden md:visible">Developed by</span><a
          href="https://www.stellship.com">stellship.com</a
        > @ 2022
      </p>
    </div>
    <div>
      <ul>
        <li class="hover:text-slate-400"><a href="">Blog</a></li>
        <li class="hover:text-slate-400"><a href="">About Us</a></li>
        <li class="hover:text-slate-400"><a href="">Contact Us</a></li>
      </ul>
    </div>
  </div>
</footer>
