<footer>
  <div
    class="flex items-center justify-around p-5 bg-[#152649] text-[#FFFDFA] h-56"
  >
    <div>
      <h3 class="text-2xl md:text-3xl font-bold text-[#FFFDFA]">Drops Blog</h3>
      <p>
        <span class="hidden md:visible">Developed by</span><a
          href="https://www.stellship.com">stellship.com</a
        > @ 2022
      </p>
    </div>
    <div class="flex flex-col md:flex-row md:space-x-10 text-2xl">
      <a href="https://www.facebook.com"
        ><i class="fa fa-facebook" aria-hidden="true"></i>
      </a>
      <a href="https://www.twitter.com"
        ><i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
      <a href="https://www.linkedin.com"
        ><i class="fa fa-linkedin" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</footer>
