<footer>
  <div
    class="flex items-center justify-around p-5 bg-[#0B0334] text-[#FFFDFA] h-56"
  >
    <div>
      <h3 class="text-xl font-bold text-[#FFFDFA]">Drops Blog</h3>
      <p>
        <span class="hidden md:visible">Developed by</span><a
          href="https://www.stellship.com">stellship.com</a
        > @ 2022
      </p>
    </div>
    <div>
      <ul>
        <li class="hover:text-slate-400"><a href="">All Posts</a></li>
        <li class="hover:text-slate-400"><a href="">About Us</a></li>
        <li class="hover:text-slate-400"><a href="">Contact Us</a></li>
      </ul>
    </div>
  </div>
</footer>
