<header>
  <div
    class="flex items-center justify-around p-4 bg-background text-[#F5F4EB]"
  >
    <a href="/" class="text-xl font-bold">Drops Blog</a>
    <nav>
      <ul class="flex justify-around space-x-3 md:space-x-10">
        <li class="hover:text-[#F5F4EB]"><a href="">All Posts</a></li>
        <li class="hover:text-[#F5F4EB]"><a href="">Categories</a></li>
        <li class="hover:text-[#F5F4EB]"><a href="">About Us</a></li>
      </ul>
    </nav>
  </div>
</header>
