<header>
  <div
    class="flex justify-around items-center p-4 bg-purple-900 text-slate-100"
  >
    <a href="/" class="font-bold text-xl">Drops Blog</a>
    <nav>
      <ul class="flex justify-around space-x-3 md:space-x-10">
        <li class="hover:text-slate-400"><a href="">Home</a></li>
        <li class="hover:text-slate-400"><a href="">Categories</a></li>
        <li class="hover:text-slate-400"><a href="">About Us</a></li>
      </ul>
    </nav>
  </div>
</header>
